#about-h1{display:block;text-decoration:none;font:Helvetica,Arial,Sans-Serif;text-align:center;color:#999;text-shadow:0 3px 8px #2a2a2a}
#about-georgia{display:block;text-decoration:none;font:2.25em Helvetica,Arial,Sans-Serif;text-align:center;color:#999;text-shadow:0 3px 8px #2a2a2a}
#about-table{position:fixed;top:0;left:0}
#about-info-col1 h1,#about-info-col2 h1{color:#06f}
.about-bgImage{background-image:url(../img/lori_hudson_blank.png);background-position:center;background-repeat:no-repeat;background-size:cover}
.content-bgImage{background-image:url(../img/staticmap.png);background-position:center;background-repeat:no-repeat;background-size:cover}
.contact-PhoneMapDiv{border-color:#ddd;background-color:#fff;color:#444;position:relative;display:inline-block;margin:0;padding:0 12px;min-width:52px;min-height:47px;border-width:1px;border-style:solid;border-radius:2px;vertical-align:top;text-align:center;text-overflow:ellipsis;font-size:16px;line-height:42px}
.ion-1x{font-size:1em}
.ion-2x{font-size:2em}
.ion-3x{font-size:3em}
.ion-4x{font-size:4em}
.ion-5x{font-size:5em}
.ui-header .ui-title{overflow:visible!important;white-space:normal!important}
.platform-android.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader){height:64px}
.platform-android.platform-cordova:not(.fullscreen) .has-header{top:64px}
@media only screen and (orientation:portrait){#homePortrait{display:inline-block}
#homeLandscape,.landscape{display:none}
.portrait{display:inline-block}}
@media only screen and (orientation:landscape){#homePortrait{display:none}
#homeLandscape,.landscape{display:inline-block}
.portrait{display:none}
.content-bgImage{background-position:0 0}}