<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns = "http://www.w3.org/ns/widgets" 
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "com.ericdecoff.tmc"
		version = "5.2.0"
		versionCode = "520">

    <name>Temple Medical</name>

    <description>
 	   Temple Medical Clinic	
    </description>

    <author href="http://ericdecoff.com" email="ericdecoff@gmail.com">Eric DeCoff</author>
    
    <!-- inject: ../www/config.plugins.xml -->
    
    <!-- build:platform -->
    <!-- endbuild -->
    
    <!-- inject: ../www/config.general.xml -->
    
    <!-- inject: ../www/config.splashscreen.xml -->
           
    <!-- PHONEGAP API FEATURES PREFERENCES -->        
    <preference name="permissions" value="none"/>

	<!-- PushWoosh Plugin gradle requirement -->
	<preference name="android-build-tool" value="gradle" />

    <!-- Whitelist Access -->
    <access origin="tel:*" launch-external="yes" />
    <access origin="geo:*" launch-external="yes" />
    
    <access origin="*.pushwoosh.com" />
    <access origin="*" />
    
</widget>
