<ion-view hide-nav-bar="true">
    <ux-header></ux-header>
    <ion-content class="padding about-bgImage"> <!-- style="background: #474747;"> -->
                    <!--
        <div class="text-center">
            <div class="inline" style="border: 10px solid black">
                <div class="" style="border: 10px solid yellow">
                    <img src="img/lori_hudson_blank.png" style="max-width: 100%"></img>
                </div>
                <div class="" 
                    style="float:left;top:0;left:0;border: 10px solid blue">
                    -->
                    <div class="full-image row-center">
                        <!-- style="border: 10px solid green"> -->
                        <div class="row">
                        <div class="col text-center">
                        <a class="button button-outline icon-left ion-ios-telephone button-balanced"
                            href="tel://770-562-9007">770 562-9007</a>                        
                        </div>
                        <div class="col landscape">&nbsp;</div>
                        </div>
                        <tmc-aboutinfo src="img/lori_hudson_blank.png"
items='
[
    {"col1":"<h1>Walkings<br>Welcome</h1>"},
    {"col1":"<h1>Short Wait Times</h1>"},
    {"col1":"<h1>Whole Family Care</h1>"},
    {"col1":"<h1>Wellness / Sick Visits</h1>"},
    {"col1":"<h1>Sports Physicals</h1>"},
    {"col1":"<h1><br/>Lori Hudson, FNP</h1>"}
]
' >
                            <h1>tmc-aboutinfo</h1>
                        </tmc-aboutinfo>                
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
