<ion-view hide-nav-bar="true">
    <ux-header></ux-header>
    <ion-content class="padding about-bgImage"> <!-- style="background: #474747;"> -->
        <tmc-Phone-Long phone="7705620632"></tmc-Phone-Long>
        <div class="full-image row-center">
            <div class="row">
                <div class="col text-center">
                    <tmc-aboutinfo src="img/lori_hudson_blank.png"
items='
[
    {"col1":"Walkings <br class=\"portrait\"/>Welcome"},
    {"col1":"Short Wait Times"},
    {"col1":"Whole Family Care"},
    {"col1":"Wellness / Sick Visits"},
    {"col1":"Sports Physicals"},
    {"col1":"Lori Hudson, FNP"}
]
' >
                        <h1>tmc-aboutinfo goes here</h1>
                    </tmc-aboutinfo>
                </div>
            </div>
        </div>    
        <tmc-Yos style="position:fixed; float:right; top: 0; right: 0;"></tmc-Yos>
    </ion-content>
</ion-view>s
