<ion-view hide-nav-bar="true">
    <ux-header></ux-header>
    <ion-content class="padding content-bgImage">
        <!--
        <img style="max-width: 100%" src="img/staticmap.png"  />
        -->
        <!--
        <div class="bar bar-assertive text-center">
            <a class="button button-light icon-left ion-ios-telephone button-balanced"
                href="tel://770-562-9007">770 562-9007</a>                        
            </div>
        </div>
        -->
        <div class="full-image text-center contact-PhoneMapDiv">
            <!-- style="border: 10px solid green"> -->
            <div class="row">
            <div class="col col-20 text-left">
            <a class="button button-light ion-2x ion-ios-telephone button-balanced"
                href="tel://770-562-9007"></a>                        
            </div>
            <div class="col col-70">
                770&nbsp;562-0632
            </div>
            <div class="col col-20 text-right">
            <a class="button button-light button-balanced ion-2x ion-ios-navigate"
                href="#"
                ng-click="contactMap('431 Sage Street, Temple,GA 30179')">
            </a>                        
            </div>
            </div>
        </div>
    </ion-content>
    <ux-footer></ux-footer>
</ion-view>
